/*Set custom fonts*/
@font-face {
	font-family: coolvetica;
	src: url('/resources/coolvetica.ttf');
}
/*Set background, force scroll to make it look like a desktop*/
html {
	background: url("/img/calcBackground.jpg") top center no-repeat #000000;
	background-size: cover;
	height: 1050px;
	width: 1680px;
	overflow-x: scroll;
}
/*Set the master container*/
.container {
	position: relative;
	margin: 0 auto;
}
/*Set the display*/
.screen {
	width: 322px;
	height: 120px;
	background: #494949;
	border: 1px solid black;
	color: white;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	border-top: none;
}
/*Set button style*/
.button {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 80px;
	height: 80px;
	background: #ededed;
	float: left;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	/*border: 0.5px solid gray;*/
}

.button:active {
    background: #8c8c8c;
}

.orange {
	background: #ff8c21;
	color: white;
}

.orange:active {
	background: #d1721b;
}

.darkButton {
	background: #d8d8d8;
}

.container {
	width: 340px;
}
/*Set incomming numbers*/
.inputStyle {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	padding: 0;
	width: 100%;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.borderBottom {
	border-bottom: 1px solid gray;
}

.borderBottomLeft {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;

}

.border {
	border: 1px solid gray;
	border-top: none;
}

/*Hide calc until called*/
#draggable {
	display: none;
}
/*Set icon location*/
#icon {
	position: absolute;
	right: 25px;
	bottom: 130px;
	height: 70px;
	width: 70px;

}
/*Set Icon Text*/
#iconText {
	position: absolute;
	right: 18px;
	bottom: 40px;
	height: 70px;
	width: 70px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-shadow: 1px 1px black;

}
/*Set clickable zone to drag calc*/
#topBar {
	width: 322px;
	height: 20px;
	background: #494949;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
/*Set zero key*/
#zero {
	width: 131px;
	height: 80px;
	text-align: left;
	padding-left: 30px;
	border-bottom-left-radius: 15px;
	border: 1px solid gray;
	border-top: none;

}
/*Set Wquals key*/
#equals {
	border-bottom-right-radius: 15px;
}

#divide {
	border-right: 1px solid gray;
}
/*Set specific display perams*/
#display {
	width: 316px;
	height: 120px;
	padding-right: 10px;

}
/*Set specific displayInput perams*/
#displayInput {
	text-align: right;
	font-size: 60px;

}




